@{
  Layout = "_Layout";
}

@model PierreTreats.Models.Flavor

<h1>Flavor Details</h1>

<h3>Flavor title: @Html.DisplayFor(model => model.Name)</h3>

@if(@Model.Treats.Count == 0)
{
  <h3>This Flavor does not have any Treats.</h3>
}
else
{
  <h1>Treats for this Flavor:</h1>
  <ul>
  @foreach(var join in Model.Treats)
  {
    <li class="Treats">@join.Treat.Name</li> <br>
    @using (Html.BeginForm("DeleteTreat", "Flavors"))
    {
      @Html.Hidden("joinId", @join.TreatFlavorId)
      <input type="submit" value="Delete"/>
    }
  }
  </ul>
}

<nav class="navbar navbar-light">  
  <div class="container-fluid" id="nav-background">  
    <ul class="nav navbar-nav">
      <button type="button" class="btn btn-dark">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span><li>@Html.ActionLink("Edit Flavor", "Edit", new { id = Model.FlavorId })</li>  
      </button>
      <button type="button" class="btn btn-dark">
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span><li>@Html.ActionLink("Delete Flavor", "Delete", new { id = Model.FlavorId })</li>  
      </button>
      <button type="button" class="btn btn-dark">
        <span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span><li>@Html.ActionLink("Add Treat to this Flavor", "AddTreat", new { id = Model.FlavorId })</li>  
      </button>    
    </ul>  
  </div>  
</nav>